.even-row {
  background-color: #e8e8e8; /* Background color for even rows */
}

.odd-row {
  background-color: #f4f4f4; /* Background color for odd rows */
}
.blue-row {
  background-color: #9bdbf9; /* Blue background color for the first row */
}
